<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>{{index .ipa_path}}</string>
                    </dict>
                    {{if .app_icon}}
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>{{index .app_icon}}</string>
                    </dict>
                    {{end}}
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>{{index .bundle_id}}</string>
                    <key>bundle-version</key>
                    <string>{{index .version}}</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>{{index .app_name}}</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>